/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005f73;
    padding: 20px;
}

.navbar .logo h1 {
    color: white;
    font-size: 24px;
}

.navbar .menu {
    list-style: none;
    display: flex;
}

.navbar .menu li {
    margin-left: 20px;
}

.navbar .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .menu li a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 200px;
}

.search-bar button {
    padding: 10px;
    background-color: #00b4d8;
    border: none;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0096c7;
}

/* Filtros */
.filtros {
    padding: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filtros h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filtro {
    flex: 1 1 45%;
}

.filtro label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.filtro input[type="text"], .filtro select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    background-color: #fafafa;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f73;
}
