/* Definição de variáveis de cor */
:root {
    --bs-primary: #ee0979;
    --bs-secondary: #ff6a00;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-gray-dark: #343a40;
    --bs-white: #ffffff;
}

/* Sidebar */
#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bs-gray-dark);
    color: var(--bs-white);
    padding-top: 20px;
}

#sidebar h3 {
    text-align: center;
    color: var(--bs-white);
}

#sidebar ul.components {
    padding: 20px 0;
    list-style: none;
}

#sidebar ul li {
    padding: 10px;
    font-size: 18px;
}

#sidebar ul li a {
    color: var(--bs-white);
    text-decoration: none;
}

#sidebar ul li a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    text-decoration: none;
}

/* Page Content */
#page-content-wrapper {
    margin-left: 250px;
    padding: 20px;
}

.card {
    border-radius: 15px;
}

.card .card-body {
    padding: 20px;
    text-align: center;
}

.card .card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card .card-text {
    font-size: 24px;
    font-weight: bold;
}
